html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
}
.top-row {
	margin-top: 200px;
}
.logo {
	width: 400px;
	margin: 50px auto 24px auto;
}
.content-box {
	background-color: #eee;
	height: 375px;
	padding-right: 0px;
}
.navigation {
	border-left: 1px solid black;
	height: 300px;
	margin-top: 40px;
	padding-left: 0px;
	padding-right: 0px;
}
.page-title-box {
	text-align: right;
	height: 300;
	margin-top: 25px;
}
.image-box {
	margin-top: 50px;
	text-align: center;

}
.name {
	font-size: 65px;
}
.project-section {
	background-color: #eee;
	margin-top: 125px;
}
.project-box{
	padding-right: 0px;
	margin-bottom: 50px;
}
.last-project {
	margin-bottom: 125px;
}
.line-divider {
	height: 1px;
	border-bottom: 1px solid #eee;
	margin-top: 150px;
	margin-bottom: 0px;
}

.project-section-title {
	color: black;
	height: 150px;
	padding-top: 50px;
	margin: 0;
	text-align: center;
	font-size: 50px;
}
.project-header {
	margin-top: 10px;
	border-bottom: 1px solid black;
}
.project-title {
	font-size: 35px;
	padding-left: 40px;
}
.project-subtitle {
	padding-top: 22px;
	font-size: 16px;
	text-align: right;
}
.project-description {
	margin-top: 30px;
	font-size: 18px;
	line-height: 25px;
}
.tech-used {
	font-size: 16px;
	margin-top: 20px;
}
.tech-title {
	font-size: 18px;
}
.project-link {
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-option {
	padding: 10px 5px 10px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-tab0:hover {
	background-color: #ddd;
}
#nav-tab1:hover {
	background-color: #ddd;
}
#nav-tab2:hover {
	background-color: #ddd;

}
#nav-tab3:hover {
	background-color: #ddd;
	
}
.selected {
	background-color: #ddd;
}
.project-image {
	max-width: 500px;
}