html,body 
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
}
img.project-image {
	max-width: 100%;
	height: auto;
}
.top-row {
	margin-top: 35vh;
	height: 85vh;
}
.logo {
	width: 400px;
	margin: 50px auto 24px auto;
}
#head-shot {
	width: 200px;
	border-radius: 100px;
	margin-right: 25px;
}
.content-box {
	background-color: #eee;
	height: 375px;
	padding-right: 0px;
	z-index: 0;
}
.navigation {
	border-left: 1px solid black;
	height: 300px;
	margin-top: 40px;
	padding-left: 0px;
	padding-right: 0px;
}
.nav-option:hover {
	cursor:pointer;
}
.page-title-box {
	text-align: right;
	height: 300;
	margin-top: 25px;
	z-index: 3;
	position: relative;
	top: -125px;
}
.image-box {
	margin-top: 50px;
}
.name {
	font-size: 65px;
}
.social-tag {
	font-size: 40px;
	padding-left: 10px;
	color: #333;
}
.social-tag:hover {
	color: #009AC6;
}
.project-section {
	background-color: #eee;
	padding-right: 0px;
	padding-left: 0px;
}
.project-box{
	margin-bottom: 50px;
}
.last-project {
	margin-bottom: 125px;
}
.line-divider {
	height: 1px;
	border-bottom: 1px solid #eee;
	margin-top: 150px;
	margin-bottom: 0px;
}

.project-section-title {
	color: black;
	height: 125px;
	padding-top: 50px;
	margin: 0;
	text-align: center;
	font-size: 50px;
}
.project-title {
	font-size: 35px;
	border-bottom: 1px solid black;
}
.project-title-link {
	color: black;
}
.project-title-link:hover {
	color: #009AC6;
	text-decoration: none; 
}
a:visited, a:active, a:link {
	text-decoration: none !important;
	color: black;
}
.project-description {
	margin-top: 50px;
	font-size: 20px;
	line-height: 25px;
	padding: 0 50px 0 50px;
}
.tech-used {
	font-size: 18px;
	margin-top: 20px;
}
.tech-title {
	font-size: 20px;
}
.project-link {
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	padding: 5px;
}
.nav-option {
	padding: 10px 5px 10px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.nav-option:hover {
	background-color: #ddd;
	border-left: 3px solid #009AC6;
	padding-left: 17px;
}
.selected {
	background-color: #ddd;
}
.project-image {
	width: 500px;
	border: 1px solid #ccc;
}
.project-image:hover {
	border: 2px solid #009AC6;
}
.btn-default {
	font-size: 20px;
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 4px;
	color: #555;
}
.btn-default:hover {
	border: 1px solid #009AC6;
	background-color: rgba(0,154,198,0.1);
	color: #007799;
}
.cool-a:hover {
	color: #009AC6;
}

/*ABOUT SECTION*/
.about-section-title, .contact-section-title {
	border-bottom: 1px solid black;
	padding-left: 15px;
	color: #009AC6;
}
.about-text {
	font-size: 20px;
	padding-top: 10px;
}
.chopin {
	margin-left: 5px;
	padding-right: 3px;
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 4px;
}
.chopin:hover {
	border: 1px solid #009AC6;
	background-color: rgba(0,154,198,0.1);
	color: #007799;
}
.ion-heart {
	color: #009AC6;
}
.skill-list {
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 17px;
}
.skill-types-titles {
	text-align: center;
	font-size: 21px;
	color: #009AC6;
}
.other-skills-div {
	text-align: center;
}
.other-title {
	font-size: 21px;
	color: #009AC6;
}
.other-skills-list {
	font-size: 17px;
}
/*CONTACT SECTION*/
.form-control {
	margin-top: 15px;
	font-size: 18px;
}
#email-btn {
	margin-top: 15px;
}
#email:hover {
	color:#009AC6;
	text-decoration: underline;
}
#copyright {
	text-align: center;
	font-size: 16px;
}

/*MEDIA TAGS*/
@media(max-width: 1200px) {
	.image-box {
		text-align: center;
	}
	.about-text {
		font-size: 19px;
	}
}

@media(max-width: 1110px) {
	.logo {
		width: 375px;
		margin: 60px auto 24px auto;
	}
	.about-text {
		font-size: 18px;
	}
}
@media(max-width: 992px) {
	.name {
		font-size: 50px;
	}
	#job-title {
		font-size: 18px;
	}
	.logo {
		margin: 65px auto 24px 20px;
	}
}
@media(max-width: 850px) {
	.logo {
		width: 340px;
		margin-top: 70px;
	}
	.about-text {
		font-size: 17px;
	}
}
/*iPad*/
@media(max-width: 767px) {
	.logo {
		margin-top: 70px;
		margin-left: 0px;
		width: 275px;
	}
	.name {
		font-size: 44px;
	}
	#head-shot {
		width: 175px;
		margin-right: 0px;
	}
	.content-box {
		height: 325px;
	}
	.welcome-box {
		height: 325px;
	}
	.navigation {
		height: 275px;
		margin-top: 25px;
	}
	.about-text {
		font-size: 15px;
	}
	.about-section-title, .contact-section-title {
		font-size: 25px;
	}
	.skill-types-titles {
		font-size: 17px;
	}
	.other-title {
		font-size: 17px;
	}
	.skill-list {
		font-size: 15px;
	}
	.other-skills-list {
		font-size: 15px;
	}
	.about-box {
		overflow: scroll;
		height: 325px;
	}
	.other-skills-div {
		padding-bottom: 20px;
	}
}
@media(max-width: 675px) {
	.logo {
		width: 225px;
		margin-top: 85px;
	}
	.name {
		font-size: 38px;
	}
	#job-title {
		font-size: 16px;
	}
}
@media(max-width: 580px) {
	.logo {
		width: 100px;
		z-index: 4;
		position: relative;
		top: -45vh;
		left: -20px;
	}
	.page-title-box {
		padding-right: 50px;
	}
	.project-title-link {
		font-size: 25px;
	}
	.project-title {
		text-align: center;
	}
}
/*iPhone 6plus*/
@media(max-width: 414px) {
	.page-title-box {
		padding-right: 0px;
	}
	.contact-box {
		overflow: scroll;
		height: 325px;
		padding-bottom: 30px;
	}
	.btn-default {
		font-size: 18px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.tech-used {
		padding-left: 0px;
		padding-right: 0px;
	}
	.project-description {
		padding-left: 20px;
		padding-right: 20px;
	}
}
/*iPhone 6*/
@media(max-width: 375px) {
	.nav-option {
		padding-left: 10px;
	}
	#nav-tab0:hover {
		background-color: #ddd;
		border-left: 3px solid #009AC6;
		padding-left: 7px;
	}
	#nav-tab1:hover {
		background-color: #ddd;
		border-left: 3px solid #009AC6;
		padding-left: 7px;
	}
	#nav-tab2:hover {
		background-color: #ddd;
		border-left: 3px solid #009AC6;
		padding-left: 7px;
	}
	#nav-tab3:hover {
		background-color: #ddd;
		border-left: 3px solid #009AC6;
		padding-left: 7px;
	}
	#contact-email {
		font-size: 18px;
	}
	#contact-phone {
		font-size: 18px;
	}
}
/*iPhone 5*/
@media(max-width: 320px) {
	.nav-option {
		font-size: 20px;
	}
	.btn-default {
		font-size: 14px;
	}
	#head-shot {
		width: 150px;
	}
}






